.container{
    width: 660px;
    margin: auto;
}
.card-container{
    width: 150px;
    position: relative;
    height: 150px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 6px;
}
.card{
    height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  border-radius: 6px;
}
img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}
.card .side{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 6px;
}
.card .back{
    background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 6px;
}



@keyframes flip {
    0%{
        transform: rotatey(0deg)
    }
    100%{
        transform: rotatey(180deg)
    }
}



#flip1:target, #flip2:target, #flip3:target, #flip4:target, #flip5:target, #flip6:target, #flip7:target, #flip8:target, #flip9:target, #flip10:target, #flip11:target,  #flip12:target {
    animation: flip 1s ease-out;
    animation-fill-mode: forwards;
}
#flip1:hover, #flip2:hover, #flip3:hover, #flip4:hover, #flip5:hover, #flip6:hover, #flip7:hover, #flip8:hover, #flip9:hover, #flip10:hover, #flip11:hover,  #flip12:hover {
    box-shadow: 0 0 15px black;
}
.card:hover{
    box-shadow: 0px 0px 15px black;
}
